html {
  background-color:#304352;
}

body {
width: 75%;
margin: 0 auto; 

 display: flex;
 min-height: 100vh;
 flex-direction: column;
 background-color: white;
 background-image: url("/assets/img/fire_burgers.jpg");
}

#cute_burger {
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 65px;
  margin: 50px;
  color: #616161;
  margin-bottom: 10px;
}

.burgerAvailable {
  font-family: 'Crafty Girls', cursive;
  font-weight: normal;
  font-size: 20px;
  text-align: center;

  border-radius: 25px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  background-color:#868f96;
  border: none;
}

.burgerAvailable:hover {
  background-color:#434343;
}

.burgerEaten {
  font-family: 'Crafty Girls', cursive;
  font-weight: normal;
  font-size: 20px;
  text-align: center;

  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  background-color:#8baaaa79;
}
.burgerEaten:hover {
  background-color:#434343;
}

h2 {
  text-align: center;
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 40px;
  margin: 50px;
  color:#00FF7F;
}
h3 {
  text-align: center;
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 30px;
  margin: 50px;
  color: #616161;
}

.formContainer {
  background-color: orange;
}

.addBurgerButton {
  font-family: 'Crafty Girls', cursive;
  font-weight: normal;
  font-size: 40px;
  text-align: center;

  border-radius: 25px;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color:#304352;
  border: none;
}
#deleteButton {
  font-family: 'Coiny', cursive, serif;
  width: 40%;
  margin: 0;
  padding: 0px;
  background-color:#00FF7F;
  text-transform: uppercase;
}

.addBurgerButton:active {
 background-color: #FFC04C;
}
#name {
  font-size: 30px;
  color: #434343;
}

/*.burgerFooter {
 background-color: #FFC04C;
 padding: 20px 0;
}*/